* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* headlines og p */

section h2 {
  font-size: 2.1rem;
  font-family: "Rozha One", serif;
  margin-bottom: 5px;
}

section h3 {
  font-weight: 800;
  font-style: italic;
  font-family: "poppins";
  margin-bottom: 20px;
  font-size: 1.2rem;
}

section p {
  font-family: "poppins";
  font-size: 0.7rem;
  margin-bottom: 30px;
  line-height: 1.2rem;
}

/* grid og margin */
.about_yellow {
  margin: 15px;
}

.events {
  margin: 15px;
}

#reserve_button {
  margin-bottom: 20px;
}

/* billeder */

#IG_link {
  height: 30px;
  width: 30px;
}
#event_billede img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

.about_yellow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

/* Header */

header {
  background: #565a42;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: #fbe91d;
}

header ul {
  list-style: none;
  padding: 0;
}

.logo {
  margin-right: 110px;
}

.logo img {
  height: 61px;
  width: 155px;
}

.sidepanel {
  height: 350px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3eed9;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #565a42;
  display: block;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.sidepanel a:hover {
  color: #f2c85e;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  margin-top: 30px;
}

.openbtn {
  cursor: pointer;
  place-self: start start;
  padding: 10px 15px;
  border: none;
  background: transparent;
}

@media (min-width: 600px) {
  .about_yellow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-right: 50px;
    margin: 60px;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 50px;
    margin: 60px;
  }
  #event_billede {
    order: 2;
  }
}
