* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* headlines og p */

section h2 {
  font-size: 2.1rem;
  font-family: "Rozha One", serif;
  margin-bottom: 5px;
}

section h3 {
  font-weight: 800;
  font-style: italic;
  font-family: "poppins";
  margin-bottom: 40px;
  font-size: 1rem;
  padding-right: 80px;
}

section p {
  font-family: "poppins";
  font-size: 0.7rem;
  margin-bottom: 75px;
  line-height: 1.2rem;
  padding-right: 110px;
}

/* grid og margin */
.about_yellow {
  margin: 15px;
  margin-bottom: 30px;
}

.events {
  margin: 15px;
  margin-bottom: 30px;
}

#reserve_button {
  margin-bottom: 50px;
  width: 54%;
  margin: 2px 1px;
  padding: 10px 10px;
  text-align: center;
  border-color: #f2c85e;
  background-color: #f2c85e;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  border-style: solid;
  text-transform: uppercase;
}

/* billeder */

#IG_link {
  height: 30px;
  width: 30px;
}
#event_billede img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

.about_yellow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  /* grid */
  .about_yellow {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 50px;
    margin-right: 50px;
    margin: 30px;
  }

  .events {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 50px;
    margin-left: 50px;
    margin: 30px;
  }
  #event_billede {
    order: 2;
  }

  /* tekst */

  section h2 {
    font-size: 2.1rem;
    font-family: "Rozha One", serif;
    margin-bottom: 5px;
  }

  section h3 {
    font-weight: 800;
    font-style: italic;
    font-family: "poppins";
    margin-bottom: 40px;
    font-size: 1rem;
    padding-right: 90px;
  }
  section p {
    font-family: "poppins";
    font-size: 0.9rem;
    margin-bottom: 80px;
    line-height: 1.2rem;
  }

  #reserve_button:hover {
    background-color: #565a42;
    border-color: #565a42;
  }

  #reserve_button {
    margin-bottom: 50px;
    width: 54%;
    margin: 2px 1px;
    padding: 10px 10px;
    text-align: center;
    border-color: #f2c85e;
    background-color: #f2c85e;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    border-style: solid;
    text-transform: uppercase;
  }

  /* billeder */

  #IG_link {
    height: 30px;
    width: 30px;
  }
  #event_billede img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .about_yellow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
}

@media (min-width: 800px) {
  /* grid */
  .about_yellow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-right: 50px;
    margin: 60px;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 50px;
    margin: 60px;
  }
  #event_billede {
    order: 2;
  }

  /* tekst */

  section h2 {
    font-size: 2.1rem;
    font-family: "Rozha One", serif;
    margin-bottom: 5px;
  }

  section h3 {
    font-weight: 800;
    font-style: italic;
    font-family: "poppins";
    margin-bottom: 40px;
    font-size: 1rem;
    padding-right: 80px;
  }
  section p {
    font-family: "poppins";
    font-size: 0.9rem;
    margin-bottom: 130px;
    line-height: 1.2rem;
  }

  #reserve_button:hover {
    background-color: #565a42;
    border-color: #565a42;
  }

  #reserve_button {
    margin-bottom: 50px;
    width: 54%;
    margin: 2px 1px;
    padding: 10px 10px;
    text-align: center;
    border-color: #f2c85e;
    background-color: #f2c85e;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    border-style: solid;
    text-transform: uppercase;
  }

  /* billeder */

  #IG_link {
    height: 30px;
    width: 30px;
  }
  #event_billede img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .about_yellow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
}

@media (min-width: 1000px) {
  /* grid */
  .about_yellow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-right: 50px;
    margin: 60px;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 50px;
    margin: 60px;
  }
  #event_billede {
    order: 2;
  }

  /* tekst */

  section h2 {
    font-size: 2.1rem;
    font-family: "Rozha One", serif;
    margin-bottom: 5px;
  }

  section h3 {
    font-weight: 800;
    font-style: italic;
    font-family: "poppins";
    margin-bottom: 40px;
    font-size: 1rem;
    padding-right: 80px;
  }
  section p {
    font-family: "poppins";
    font-size: 0.9rem;
    margin-bottom: 130px;
    line-height: 1.2rem;
  }

  #reserve_button:hover {
    background-color: #565a42;
    border-color: #565a42;
  }

  #reserve_button {
    margin-bottom: 50px;
    width: 54%;
    margin: 2px 1px;
    padding: 10px 10px;
    text-align: center;
    border-color: #f2c85e;
    background-color: #f2c85e;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    border-style: solid;
    text-transform: uppercase;
  }

  /* billeder */

  #IG_link {
    height: 30px;
    width: 30px;
  }
  #event_billede img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .about_yellow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
}
