h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Rozha One", serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

p {
  font-family: "Poppins";
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 5px;
}

.Getintouch {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-size: 0.9rem;
}

.email {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.9rem;
}

h4 {
  margin-bottom: 50px;
}

.Beskrivelse {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.cocktail_catering {
  display: grid;
  grid-template-columns: 1fr;
}

.cocktail_catering img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
