* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

.menu_buttons_and_image {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  background-image: url("billeder.yellow/madbilledeforside.png");
  background-size: cover;
}

a.food_button {
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: #f2c85e;
  color: black;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
  height: 50px;
  border-color: #d3ad4e;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  border-style: solid;
}

a.drinks_button {
  grid-row: 2/3;
  grid-column: 2/2;
  background-color: #f2c85e;
  color: black;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
  height: 50px;
  border-color: #d3ad4e;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  border-style: solid;
}

a.wine_button {
  grid-row: 4/4;
  grid-column: 2/2;
  background-color: #f2c85e;
  color: black;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;
  font-size: 19px;
  height: 50px;
  border-color: #d3ad4e;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  border-style: solid;
}

/*Desktop*/
@media (min-width: 600px) {
  .menu_buttons_and_image {
    display: grid;
    grid-template-rows: 100px 100px 100px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("billeder.yellow/madbilledeforside.png");
    background-position-y: 40%;
    column-gap: 50px;
    padding-right: 40px;
    padding-left: 40px;
  }

  a.food_button {
    grid-row: 3/3;
    grid-column: 2/2;
    background-color: #f2c85e;
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
    height: 50px;
    border-color: #d3ad4e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    border-style: solid;
  }

  a.drinks_button {
    grid-row: 3/3;
    grid-column: 1/1;
    background-color: #f2c85e;
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
    height: 50px;
    border-color: #d3ad4e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    border-style: solid;
  }

  a.wine_button {
    grid-row: 3/3;
    grid-column: 3/3;
    background-color: #f2c85e;
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 19px;
    height: 50px;
    border-color: #d3ad4e;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    border-style: solid;
  }

  .menu_buttons_and_image :hover {
    background-color: #565a42;
    color: #f3eed9;
    border-color: #565a42;
  }
}
