* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

#reservation_buttons {
  display: grid;
  grid-template-rows: 300px 50px 180px 220px;
  grid-template-columns: 100px 250px 100px;
  row-gap: 10px;
  background-image: url("billeder_website/reserver.JPG");
  background-size: cover;
}

#reservation_button {
  grid-row: 2/2;
  grid-column: 2/3;
  background-color: #f2c85e;
  color: black;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  border-color: #f2c85e;
  border-radius: 5px;
}

#reservation_h4 {
  grid-row: 3/3;
  grid-column: 2/3;
  font-size: 0.84rem;
  color: black;
  text-align: center;
  font-style: italic;
  font-family: "poppins";
  pointer-events: none;
}

.mail {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.84rem;
}

.mail a {
  color: black;
  text-decoration: underline;
  font-size: 0.84rem;
}

@media (min-width: 600px) {
  #reservation_buttons {
    display: grid;
    grid-template-rows: 300px 50px 180px 220px;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("billeder_website/reserver.JPG");
    background-position-y: 40%;
  }

  #reservation_button {
    grid-row: 2/2;
    grid-column: 2/3;
    background-color: #f2c85e;
    color: black;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
    border-color: #f2c85e;
    border-radius: 5px;
  }

  #reservation_button:hover {
    background-color: #565a42;
    border-color: #565a42;
  }

  #reservation_h4 {
    grid-row: 3/3;
    grid-column: 2/3;
    font-size: 1rem;
    color: black;
    text-align: center;
    font-style: italic;
    font-family: "poppins";
    pointer-events: none;
  }

  .email {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1rem;
  }

  .email a {
    color: black;
    text-decoration: underline;
    font-size: 1rem;
  }
}
