/* header/nav start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #565a42;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: #fbe91d;
}

header ul {
  list-style: none;
  padding: 0;
}

.logo {
  margin-right: 110px;
}

.logo img {
  height: 61px;
  width: 155px;
}

.sidepanel {
  height: 350px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f3eed9;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #565a42;
  display: block;
  transition: 0.3s;
  font-family: "Poppins";
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.sidepanel a:hover {
  color: #f2c85e;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  margin-top: 30px;
}

.openbtn {
  cursor: pointer;
  place-self: start start;
  padding: 10px 15px;
  border: none;
  background: transparent;
}

#nav_desktop {
  display: none;
}

#Menus_button {
  background-color: #f2c85e;
  font-family: "Rozha One", serif;
  font-size: 2.1rem;
  width: 40%;
  border-style: none;
  margin-left: 15px;
}

/* footer start */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #b8d6c7;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

#oh {
  grid-column: 1/3;
  margin: 30px;
}

#oh ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 2.5rem;
}

#oh ul li:nth-child(2) {
  font-size: 0.9rem;
  font-style: italic;
  font-family: "poppins";
}

#oh ul li:nth-child(4) {
  font-size: 0.9rem;
  font-style: italic;
  font-family: "poppins";
}

#oh ul li:nth-child(2) .time {
  margin-left: 4rem;
}

#oh h3 {
  font-family: "poppins";
  font-style: italic;
  font-weight: 800;
  line-height: 4rem;
}

#oh ul li:nth-child(1) {
  font-family: "poppins";
  font-weight: 500;
}

#oh ul li:nth-child(3) {
  font-family: "poppins";
  font-weight: 500;
}

#oh2 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 2.5rem;
}

#oh2 ul {
  font-family: "poppins";
  font-weight: 500;
  line-height: 7rem;
}

.time {
  float: right;
  padding-right: 2rem;
}

#cu {
  grid-column: 1/3;
  margin: 30px;
  display: inline-block;
}

#cu h3 {
  font-family: "poppins";
  font-style: italic;
  font-weight: 800;
  line-height: 4rem;
}

#footerimg {
  display: grid;
  grid-template-columns: 2fr 2fr 7fr;
  gap: 0px;
  line-height: 5rem;
}

#cu ul {
  list-style: none;
  line-height: 2.5rem;
  font-family: "poppins";
  font-weight: 500;
  font-size: 0.9rem;
}

#lo {
  grid-column: 1/3;
  margin: 30px;
}

#lo h3 {
  font-family: "poppins";
  font-style: italic;
  font-weight: 800;
  line-height: 4rem;
}
#lo ul {
  list-style: none;
  line-height: 2.2rem;
  font-family: "poppins";
  font-weight: 500;
  font-size: 0.9rem;
}

#lo2 ul {
  list-style: none;
  line-height: 3rem;
  font-family: "poppins";
  font-weight: 500;
  font-size: 0.9rem;
  margin-right: 11rem;
}

/* footer done*/

/* Baggrundsfarve */

body {
  background-color: #f3eed9;
  overflow-x: hidden;
}

#splashbillede_section {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.6fr 1fr 0.6fr;
  row-gap: 10px;
  background-image: url("billeder_website/udenfor.jpg");
  object-fit: cover;
  background-size: cover;
  margin: -100px 0px 0px -220px;
  width: 100%;
  height: 84vh;
  margin: 0px;
}
#bookatable_button1 {
  grid-row: 2/2;
  grid-column: 2/3;
}

#Menu_section img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/************************** tekst *************************/

#video_section h2 {
  margin-top: 50px;
  margin-bottom: 5px;
  font-family: "Rozha One", serif;
  font-size: 2.1rem;
  margin-left: 15px;
  margin-right: 15px;
}

#video_section p {
  font-family: "poppins";
  font-size: 0.7rem;
  margin-bottom: 30px;
  line-height: 1.2rem;
  margin-left: 15px;
  margin-right: 15px;
}

#instagram_section h3 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

/************************** knapper *************************/

#Yellow_button {
  background-color: #f2c85e;
  width: 40%;
  font-family: "poppins";
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 50px;
  margin-left: 15px;
  border-style: none;
}

#bookatable_button2 {
  background-color: #e07218;
  color: black;
  font-family: "Rozha One", serif;
  font-weight: bold;
  /* font-style: italic; */
  font-size: 0.8rem;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  padding: 15px;
  padding-right: 24px;
  padding-left: 24px;
}

#pilopforside_knap {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 209%;
  left: 88%;
  background-image: url(SVG/pilop.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  z-index: 2;
}
@media (min-width: 450px) {
  #splashbillede_section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.8fr 1fr 0.8fr;

    row-gap: 10px;
    background-image: url("billeder_website/udenfor.jpg");
    object-fit: cover;
    background-size: cover;
    margin: -100px 0px 0px -220px;
    width: 100%;
    height: 84vh;
    margin: 0px;
  }
  #bookatable_button1 {
    justify-self: center;
    grid-row: 2/2;
    grid-column: 2/3;
  }
}

@media (min-width: 600px) {
  /* footer */
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* gap: 40px; */
    width: 100%;
    background-color: #b8d6c7;
  }

  #oh {
    grid-column: 1/3;
    /* margin-right: px; */
    /* margin-left: 100px; */
  }

  #oh ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 2.5rem;
  }

  #oh ul li:nth-child(2) {
    font-size: 0.9rem;
    font-style: italic;
    font-family: "poppins";
  }

  #oh ul li:nth-child(4) {
    font-size: 0.9rem;
    font-style: italic;
    font-family: "poppins";
  }

  #oh ul li:nth-child(2) .time {
    /* margin-left: 4rem; */
  }

  .time {
    padding-right: 14rem;
  }

  #oh h3 {
    font-family: "poppins";
    font-style: italic;
    font-weight: 800;
    line-height: 4rem;
  }

  #oh ul li:nth-child(1) {
    font-family: "poppins";
    font-weight: 500;
  }

  #oh ul li:nth-child(3) {
    font-family: "poppins";
    font-weight: 500;
  }

  #oh2 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 2.5rem;
  }

  #oh2 ul {
    font-family: "poppins";
    font-weight: 500;
    line-height: 7rem;
  }

  #cu {
    grid-column: 3/4;
    /* margin-left: 90px; */
  }
  #lo {
    grid-column: 7/7;
  }

  #lo2 ul {
    list-style: none;
    line-height: 3rem;
    font-family: "poppins";
    font-weight: 500;
    font-size: 0.9rem;
    margin-right: 26rem;
  }

  #footerimg {
    display: grid;
    grid-template-columns: 2fr 2fr 16fr;
    gap: 0px;
    line-height: 5rem;
  }

  /* navigation */

  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    margin-left: 30px;
    place-content: end end;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 20px;
    overflow-x: auto;
    padding-top: 30px;
  }

  #nav_desktop a {
    color: #f2c85e;
    font-family: "Poppins";
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6rem;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    height: 81px;
    width: 200px;
  }

  header {
    background: #565a42;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: sticky;
    top: 0;
  }

  #nav_desktop a:hover {
    color: #bf6734;
  }

  /* grid forside */

  #splashbillede_section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    row-gap: 10px;
    width: 100%;
    height: 84vh;
    background-size: cover;
    background-image: url(billeder.yellow/splashbillede.png);
    margin: 0px;
    background-position: 50% 50%;
  }

  #bookatable_button1 {
    grid-row: 2/2;
    grid-column: 2/3;
  }

  #bookatable_button2 {
    background-color: #e07218;
    color: black;
    font-family: "Rozha One", serif;
    font-weight: bold;
    font-size: 17px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 650px) {
  /* grid forside */

  #splashbillede_section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    row-gap: 10px;
    width: 100%;
    height: 84vh;
    background-size: cover;
    background-image: url(billeder.yellow/splashbillede.png);
    margin: 0px;
    background-position: 50% 50%;
  }

  #bookatable_button1 {
    grid-row: 2/2;
    grid-column: 2/3;
  }

  #bookatable_button2 {
    background-color: #e07218;
    color: black;
    font-family: "Rozha One", serif;
    font-weight: bold;
    font-size: 1rem;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;

    padding-right: 40px;
    padding-left: 40px;
  }
}

/* navigation media 750 */

@media (min-width: 750px) {
  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 30px;
    overflow-x: auto;
    padding-top: 30px;
  }

  #nav_desktop a {
    color: #f2c85e;
    font-family: "Poppins";
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
  }

  #nav_desktop a:hover {
    color: #bf6734;
  }
  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    margin-left: 60px;
    place-content: end end;
  }
}

/* navigation media 1000 */

@media (min-width: 1000px) {
  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 35px;
    overflow-x: auto;
    padding-top: 30px;
  }

  #nav_desktop a {
    color: #f2c85e;
    font-family: "Poppins";
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }

  #nav_desktop a:hover {
    color: #bf6734;
  }
  .openbtn {
    display: none;
  }

  #nav_desktop {
    display: flex;
    margin-left: 60px;
    place-content: end end;
  }

  /* grid forside knap*/

  #splashbillede_section {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    width: 100%;
    height: 84vh;
    background-size: cover;
    background-image: url(billeder.yellow/splashbillede.png);
    margin: 0px;
    background-position: 50% 50%;
  }

  #bookatable_button1 {
    justify-self: center;
    grid-row: 2/2;
    grid-column: 2/3;
  }

  #bookatable_button2 {
    background-color: #e07218;
    color: black;
    font-family: "Rozha One", serif;
    font-weight: bold;
    font-size: 1.2rem;
    border-color: black;
    border-style: solid;

    border-radius: 10px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
